name: Run Python Script

permissions:
  contents: write

on: push

jobs:
  build:
    runs-on: alpine-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run Python script pandas
        run: python test-pandas.py
